:root {
    --redbuttondark: rgb(216, 55, 55);
    --redbuttonlight: rgb(255, 77, 77);

    --bluebuttondark: rgb(86, 89, 255);
    --bluebuttonlight: rgb(35, 62, 216);

    --screenBg: rgb(0, 0, 160);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#ac-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 60%;
    background-color: rgb(255, 132, 0);
    /* position: relative; */
}

#screen {
    overflow-y: scroll;
    width: 80%;
    height: 70%;
    background-color: var(--screenBg);
    margin-bottom: 2em;
    border-bottom: 3em solid black;
    border-top: 3em solid black;
    border-left: 4em solid black;
    border-right: 4em solid black;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 1);
    position: inherit;
    text-align: center;

}

#screen .starter-div{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#screen .starter-div p {
    color: white;
}

#screen h1{
    width: 100%;

    margin: 1em 0px 1.5em 0px;
    
}

#highscoreh1div {
    z-index: 999;
    background-color: blue;
    border-bottom: solid black 2px;
    padding: 1em 0;
    width: 100%;
    margin-top: 0;
    position: sticky;
    top: 0;
    margin-bottom: 1em;
}

#highscoreh1div h1 {
    margin: 0;
}

#creator-con {
    text-align: center;
    width: 100%;
    margin-top: 3px;
}

#creator-con h3{
    margin-bottom: 2.5em;
}

h2, h3 {
    color: white;
    text-shadow: -1px 0 rgb(60, 60, 60), 0 3px rgb(60, 60, 60), 1px 0 rgb(60, 60, 60), 0 -1px rgb(60, 60, 60);
    padding-bottom: .2em;
}

#score-con {
    display: flex;
    justify-content: space-around;
    border-bottom: dashed black 2px;
    margin-bottom: 2em;
}

#low-score-con {
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
    margin-bottom: 2em;
    border-bottom: dashed black 2px;
}

@keyframes rainbow {
    0% { color: red; }
    32% { color: orange; }
    48% { color: yellow; }
    64% { color: green; }
    80% { color: white; }
    100% { color: red; }
  }
  
  #low-score-con h3 {
    animation: rainbow 4s linear infinite;
    font-size: 3em;
  }


h1{
    color: rgb(255, 157, 52);
    background: linear-gradient(0deg, #fffc62, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#low-score-h1 {
    font-size: 2em;
    -webkit-text-fill-color: white;
  }

#score-con h3 {
    width: 50%;
    text-align: center;
}

#controls {
    width: 60%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    background-color: rgb(41, 229, 41);
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 999;
}

.button:focus > .b-top {
    border: white solid 2px;
    /* background-color: #fffc62; */
}

.button:focus > .b-middle{
    /* background-color: #eeea00; */
    border-left: white solid 2px;
    border-right: white solid 2px;
}
.button:focus > .b-bottom{
    /* background-color: #eeea00; */
    border-bottom: white solid 1px;
}

.button:focus > .b-base {
    /* background-color: #eeea00; */
    border: white solid 2px;
}


.button:focus > .alt {
    /* display: initial; */
    opacity: 1;
    height: 1em;
    transition: .4s;
}

.b-top {
    width: 2em;
    height: .7em;
    border-radius: 60px / 25px;
    position: absolute;
    top: -.4em;
    z-index: 999;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, .5);
    background-color: red;
}

.b-middle {
    width: 2em;
    height: .7em;
    position: absolute;
    z-index: 2;
    background-color: red;
}

.b-bottom {

    width: 2em;
    height: .7em;
    border-radius: 60px / 25px;
    position: absolute;
    top: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    background-color: red;
    z-index: 1;

}

.b-base {
    width: 2.7em;
    height: 1em;
    border-radius: 60px / 25px;
    position: absolute;
    top: 5px;
    z-index: 0;
    background-color: red;
}

.b-top, .b-middle, .b-bottom {
    cursor: pointer;
}

.button:active > .b-middle, .button:active > .b-top {
    transform: translateY(.2em);
}

.button:active > .b-middle {
    height: .5em;
}

.button:active > .b-base {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.bluebutton {
    margin-top: 1em;
    font-size: 1.1em;

}
.redbutton {
    margin-top: 2em;
    font-size: 1.3em;
}

/* BUTTON COLORS */
.redbutton > .b-middle, .redbutton > .b-bottom, .redbutton > .b-base {
    background-color: var(--redbuttondark);
}

.redbutton > .b-top {
    background-color: var(--redbuttonlight);
}

.bluebutton > .b-middle, .bluebutton > .b-bottom, .bluebutton > .b-base {
    background-color: var(--bluebuttondark);
}

.bluebutton > .b-top {
    background-color: var(--bluebuttonlight);
}

.joystick {
    position: relative;
    margin: 1.1em -5em;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    z-index: 0;
    cursor: pointer;
}
.joystick-base {
    width: 5em;
    height: 2em;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 0;
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, .5);
}

.joystick-center {
    width: 1em;
    height: 5em;
    background-color: black;
    position: absolute;
    bottom: -1em;
    z-index: 1;
    border-bottom-right-radius: 12%;
    border-bottom-left-radius: 12%;
}

.joystick-move {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.joystick:active > .joystick-move {
    transform: rotate(7deg);
    padding-left: 7px;
}


.joystick-top {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: -5.5em;
    z-index: 2;
    border-bottom: rgb(5, 5, 5) solid 2px;
}

.js-shine {
    margin-top: 5px;
    margin-left: 2px;
    width: 1em;
    height: .6em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: -.5px -2px 10px rgba(255, 255, 255, .8);
    transform: rotate(140deg);
}


.button > .alt {
    /* display: none; */
    position: absolute;
    transform: translateY(-2.5em);
    background-color: rgba(255, 213, 0, 0.75);
    opacity: 0;
    padding: .2em;
    transition: 0s;
    display: inline-block;
    text-align: center;
    height: 0px;
    overflow: hidden;
    border: solid black 1px;
    padding: auto 0;

}

.button:hover > .alt {
    /* display: initial; */
    opacity: 1;
    height: 1em;
    transition: .4s;
}



.alt:hover {
    display: none;
    cursor:default;
}

.starter-div {
    display: flex;
    justify-content: center;
    position: relative;
    height: 50%;
}

#download-button{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 0;
    padding: 1em 2em;
    background-color: #fffb00;
    border: black outset .3em;
    cursor: pointer;
}

#download-button:hover {
    font-size: 1em;
    padding: 1.5em 2.5em;
    bottom: -.8em;
}

#star-con {
    width: 100%;
    margin-top: 2em;
    color: white;
    height: fit-content;
    text-align: center;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
}

li {
    cursor: pointer;
    text-align: center;      /* Center the text within each list item */
}

.material-symbols-outlined {
    margin-top: .5em;
    color: gold;
    width: fit-content;
    height: fit-content;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
    color: gold;
    width: fit-content;
    height: fit-content;
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 100,
  'opsz' 48
}

.previous-hover span{
  font-variation-settings:
  'FILL' 100
}

.rated li span {
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 100,
    'opsz' 48
}


@media screen and (max-width: 1093px) {
    #ac-con {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 80%;
        background-color: rgb(255, 132, 0);
        /* position: relative; */
    }

    #screen {
        overflow-y: scroll;
        width: 80%;
        height: 70%;
        background-color: var(--screenBg);
        margin-bottom: 2em;
        border-bottom: 1.5em solid black;
        border-top: 1.5em solid black;
        border-left: 2em solid black;
        border-right: 2em solid black;
        box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 1);
        position: inherit;
        text-align: center;
    
    }

    #controls {
        width: 80%;
        height: 5em;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        position: absolute;
        bottom: 0;
        background-color: rgb(41, 229, 41);
    }

    .bluebutton {
        margin-top: 1em;
        font-size: 1em;
    
    }
    .redbutton {
        margin-top: 2em;
        font-size: 1.1em;
    }

    .joystick {
        font-size: .85em;
        position: relative;
        margin: 1.1em -5em;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5em;
        z-index: 0;
        cursor: pointer;
    }

    #low-score-con h3 {
        font-size: 2em;
    }
    .button > .alt {
        /* display: none; */
        position: absolute;
        transform: translateY(-2.5em);
        background-color: rgba(255, 213, 0, 0.75);
        opacity: 0;
        padding: .1em;
        transition: 0s;
        display: inline-block;
        text-align: center;
        height: 0px;
        overflow: hidden;
        border: solid black 1px;
        padding: auto 0;
        font-size: .7em;
    
    }
    
    .button:hover > .alt {
        /* display: initial; */
        opacity: 1;
        height: 1em;
        transition: .4s;
    }
}

@media screen and (max-width: 768px) {
    #ac-con {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        background-color: rgb(255, 132, 0);
        /* position: relative; */
    }

    #screen {
        overflow-y: scroll;
        width: 80%;
        height: 70%;
        background-color: var(--screenBg);
        margin-bottom: 2em;
        border-bottom: 1.5em solid black;
        border-top: 1.5em solid black;
        border-left: 2em solid black;
        border-right: 2em solid black;
        box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 1);
        position: inherit;
        text-align: center;
    
    }

    #controls {
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        position: absolute;
        bottom: 0;
        background-color: rgb(41, 229, 41);
    }

    .joystick {
        font-size: .85em;
        position: relative;
        margin: 1.1em -5em;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5em;
        z-index: 0;
        cursor: pointer;
    }

    #low-score-con h3 {
        font-size: 2em;
    }
    .button > .alt {
        /* display: none; */
        position: absolute;
        transform: translateY(-2.5em);
        background-color: rgba(255, 213, 0, 0.75);
        opacity: 0;
        padding: .1em;
        transition: 0s;
        display: inline-block;
        text-align: center;
        height: 0px;
        overflow: hidden;
        border: solid black 1px;
        padding: auto 0;
        font-size: .7em;
    
    }
    
    .button:hover > .alt {
        /* display: initial; */
        opacity: 1;
        height: 1em;
        transition: .4s;
    }
}